.login-container-signup {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 200px;
}

.signup-input {
  padding: 10px 10px !important;
  font-size: 14px !important;
  font-weight: 400 !important;
}

.signup-gradient {
  position: fixed; 
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1;
  clip-path: polygon(0 85%, 100% 35%, 100% 100%, 0 100%);
}

.login-form-signup {
  display: flex;
  flex-direction: column;
  width: 600px;
  gap: 30px;
  border-radius: 15px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
  padding: 40px 50px;
  margin: 30px;
  background-color: #ffffff; /* 1. Add white background */
  position: relative;        /* 2. Setup for z-index */
  z-index: 10;
}

.signup-header {
  display: flex;
  padding: 20px 200px;
}

.signup-header > span {
  font-family: Oleo Script;
  font-size: 25px;
  cursor: pointer;
}

.infos-container {
  align-self: flex-start;
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  max-width: 35%;
}

.info {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.infoo-title {
  font-size: 16px;
  font-weight: 400;
  color: #0a2540;
  border-left: 1px solid #635bff;
  padding-left: 10px;
  line-height: 15px;
}

.information {
  color: rgba(60, 66, 87, 1) !important;
  font-size: 16px !important;
  font-weight: 400 !important;
}

@media only screen and (max-width: 1100px) {
  .infos-container {
    display: none !important;
  }

  .login-container-signup {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 30px;
  }

  .signup-header {
    padding: 20px 30px;
  }

  .login-form-signup {
    display: flex;
    flex-direction: column;
    width: 600px;
    gap: 30px;
    border-radius: 15px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
    padding: 40px 50px;
    margin-bottom: 30px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    background-color: #ffffff; /* 1. Add white background */
    position: relative;        /* 2. Setup for z-index */
    z-index: 10;
  }

  .signup-gradient {
    position: fixed; /* <--- Change this from absolute to fixed */
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -1;
    clip-path: polygon(0 70%, 100% 53%, 100% 100%, 0 100%);
  }
}

@media only screen and (max-width: 700px) {
  .signup-title {
    font-size: 20px;
  }
}