.footer {
  display: grid;
  grid-template-columns: repeat(3, auto);
  gap: 30px;
  padding: 30px 200px 0px 200px;
  color: #0a2540;
  border-top: 1px solid transparent;
    border-image: 
        repeating-linear-gradient(
            to right,
            lightgray 0,
            lightgray 10px,
            transparent 10px,
            transparent 20px
        ) 1;
}

.footer-brand-and-socials-container {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.footer-brand {
  font-family: Oleo Script;
  font-size: 25px;
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  max-width: max-content;
  transition: all .2s ease;
}

.footer-brand:hover {
  opacity: 0.7;
}

.footer-socials {
  display: flex;
  align-items: center;
  gap: 15px;
}

.footer-description {
  font-size: 15px;
}

.footer-facebook-logo {
  fill: #0866FF;
  height: 20px;
  width: 20px;
  cursor: pointer;
  transition: all 0.2s ease;
}

.footer-facebook-logo:hover {
  opacity: 0.7;
}

.footer-instagram-logo {
  fill: #FF0069;
  height: 20px;
  width: 20px;
  cursor: pointer;
  transition: all 0.2s ease;
}

.footer-instagram-logo:hover {
  opacity: 0.7;
}

.footer-x-logo {
  fill: #000000;
  height: 20px;
  width: 20px;
  cursor: pointer;
  transition: all 0.2s ease;
}

.footer-x-logo:hover {
  opacity: 0.7;
}

.footer-fast-links-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.footer-fast-links-title {
  line-height: 1.6;
  font-size: 15px;
  font-weight: 300px;
  color: #0a2540;
}

.footer-fast-links {
  display: flex;
  flex-direction: column;
  gap: 5px;
  font-size: 15px;
}

#fast-links > a {
  text-decoration: none;
  color: rgb(66, 84, 102);
  max-width: max-content;
  line-height: 1.6;
  font-size: 15px;
  font-weight: 300px;
  letter-spacing: .2px;
  transition: all .2s ease;
}

#fast-links > a:hover {
  opacity: 0.75;
}

.footer-services-links-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.footer-services-links-title {
  line-height: 1.6;
  font-size: 15px;
  font-weight: 300px;
  color: #0a2540;
}

.footer-services-links {
  display: flex;
  flex-direction: column;
  gap: 5px;
  font-size: 15px;
}

#services-links > a {
  text-decoration: none;
  color: rgb(66, 84, 102);
  max-width: max-content;
  line-height: 1.6;
  font-size: 15px;
  font-weight: 300px;
  letter-spacing: .2px;
  transition: all .2s ease;
}

#services-links > a:hover {
  opacity: 0.75;
}

.footer-copyright {
  display: flex;
  align-items: center;
  font-size: 15px;
  gap: 5px;
  color: rgb(66, 84, 102);
  padding: 30px 200px 50px 200px
}

@media only screen and (max-width: 1100px) {
  .footer {
    padding: 30px 30px 0px 30px;
  }

  .footer-copyright {
    padding: 30px 30px 50px 30px
  }
}