body {
  margin: 0;
  padding: 0;
  font-family: "Stack Sans Text", sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.dashboard-container {
  display: flex;
}

.dashboard-content {
  padding: 30px;
  width: 100%;
}